{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="{% static 'administration/css/metro-all.min.css' %}">

        <style>
		html, body {
			height: 100%;
			overflow: hidden;
		}
		body {
		    overflow: scroll;
		}
		.page-content {
			padding-top: 3.125rem;
			min-height: 100%;
			height: 100%;
			padding-bottom: 3em;
		}
		#footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 3em;
			line-height: 3em;
			background-color: silver;
			text-align: center;
		}
    	</style>

        <script type="text/javascript">
        const AJAX_TIMEOUT_MILLISECONDS = 5000;

        function getRootUrl() {
            return window.location.origin ? window.location.origin : window.location.protocol + '/' + window.location.host;
        }

        function onClickUserInformation() {
            location.href = "/admin/user_information";
            $("#tab_user_information").attr("class", "active");
            $("#tab_billing_information").attr("class", "");
            $("#tab_price_policy").attr("class", "");
            $("#tab_admin").attr("class", "");
        }

        function onClickBillingInformation() {
            location.href = "/admin/billing_information";
            $("#tab_user_information").attr("class", "");
            $("#tab_billing_information").attr("class", "active");
            $("#tab_price_policy").attr("class", "");
            $("#tab_admin").attr("class", "");
        }

        function onClickPricePolicy() {
            location.href = "/admin/price_policy";
            $("#tab_user_information").attr("class", "");
            $("#tab_billing_information").attr("class", "");
            $("#tab_price_policy").attr("class", "active");
            $("#tab_admin").attr("class", "");
        }

        function onClickChangePassword() {
            location.href = "/admin/password";
            $("#tab_user_information").attr("class", "");
            $("#tab_billing_information").attr("class", "");
            $("#tab_price_policy").attr("class", "");
            $("#tab_admin").attr("class", "active");
        }

        function onClickLogOut() {
            location.href = "/admin/logout";
        }
        </script>
        {% block header_content %}
        {% endblock %}
    </head>
    <body class="bg-light">
        <div class="app-bar fixed-top darcula">
            <h3>&nbsp;&nbsp;Keystone VoIP System Administration</h3>
        </div>
        <div class="page-content">
            <div class="container-fluid">
                <ul class="tabs-expand-md" data-role="tabs">
                    <li class="" id="tab_user_information"><a href="#" onclick="onClickUserInformation()">User Information</a></li>
                    <li class="" id="tab_billing_information"><a href="#" onclick="onClickBillingInformation()">Call History</a></li>
                    <li class="" id="tab_price_policy"><a href="#" onclick="onClickPricePolicy()">Price Policy</a></li>
                    <li class="" id="tab_admin">
                        <a href="#" class="dropdown-toggle">admin</a>
                        <ul class="d-menu" data-role="dropdown">
                            <li><a href="#" onclick="onClickChangePassword()">Change Password</a></li>
                            <li class="divider bg-lightGray"></li>
                            <li><a href="#" onclick="onClickLogOut()">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="border bd-default no-border-top p-2">
                    {% block body_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="fixed-bottom">
			<div id="footer">
				<p>Copyright © 2018 DpSecPhone Inc. All Rights Reserved.</p>
			</div>
		</div>
        <script type="text/javascript" src="{% static 'administration/js/jquery-3.3.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'administration/js/metro.min.js' %}"></script>
        <!--<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>-->
        {% block script_content %}
        {% endblock %}
    </body>
</html>