{% extends "admin/base.html" %}

{% block header_content %}
{% endblock %}

{% block body_content %}
<div class="container-fluid">
    <div class="row">
        <div class="cell-md-4">
            <input type="text" data-role="calendarpicker" id="calendarpicker_start_date" value="2018/06/01" data-format="%d %b %Y">
        </div>
        <label>~</label>
        <div class="cell-md-4">
            <input type="text" data-role="calendarpicker" id="calendarpicker_end_date" value="2018/06/01" data-format="%d %b %Y">
        </div>
        <button class="button dark outline" onclick="onClickGetBillingInformation()">Get Info</button>
        &nbsp;&nbsp;
        <button class="button dark outline" onclick="onClickResetAllCalendar()">Reset</button>
    </div>
    <!--<ul data-role="treeview">-->
        <!--<li>-->
            <!--<input data-role="checkbox" data-caption="Phone Number" title="">-->
            <!--<ul class="expanded" id="phone_number_list">-->
                <!--{% autoescape off %}-->
                    <!--{{ phone_number_list }}-->
                <!--{% endautoescape %}-->
            <!--</ul>-->
        <!--</li>-->
    <!--</ul>-->
    <div class="border bd-default no-border-top p-2" id="billing_information">
    </div>
</div>
{% endblock %}

{% block script_content %}
<script type="text/javascript">
$(window).on("load", function() {
    $("#tab_user_information").attr("class", "");
    $("#tab_billing_information").attr("class", "active");
    $("#tab_price_policy").attr("class", "");
    $("#tab_admin").attr("class", "");
});

function onClickGetBillingInformation() {
    var calStartDate = $('#calendarpicker_start_date').data('calendarpicker');
    var calEndDate = $('#calendarpicker_end_date').data('calendarpicker');
    var checkedPhoneNumberList = new Array();
    var i = 0;

    $.ajax({
		type: 'POST',
		url: getRootUrl() + '/admin/billing_information/',
        crossDomain: true,
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            startDate: calStartDate.val().toDateString(),
            endDate: calEndDate.val().toDateString(),
        },
        dataType: 'json',
        timeout: AJAX_TIMEOUT_MILLISECONDS,
	}).done(function(data, textStatus, jqXHR) {
	    $('#billing_information').html(data.billingInformation);
	}).fail(function(jqXHR, textStatus, errorThrown) {
	});
}

function onClickResetAllCalendar() {
    $('#calendarpicker_start_date').data('calendarpicker').val('2018/06/01');
    $('#calendarpicker_end_date').data('calendarpicker').val('2018/06/01');
}
</script>
{% endblock %}
