{% extends "admin/base.html" %}

{% block header_content %}
<style>
.change-password-done-form {
    width: 500px;
    height: auto;
}
</style>
{% endblock %}

{% block body_content %}
<form class="change-password-done-form bg-white p-6 mx-auto border bd-default win-shadow">
    <div id="change_password_done_text">
        <h2 class="text-light">Password change done.</h2><br />
        <h4 class="text-light">You should logout and login again.</h4>
    </div>
</form>
{% endblock %}
