{% extends "admin/base.html" %}

{% block header_content %}
<style>
.change-password-form {
    width: 500px;
    height: auto;
    <!--top: 50%;-->
    <!--margin-top: -160px;-->
}
</style>
{% endblock %}

{% block body_content %}
<form class="change-password-form bg-white p-6 mx-auto border bd-default win-shadow" method="post" action=".">
    {% csrf_token %}
    <h2 class="text-light">Change Password</h2>
    <hr class="thin"/>
    <br />
    <div class="form-group">
        <input type="password" name="old_password" id="id_old_password" data-role="input" data-prepend="<span class='mif-key'>" placeholder="Enter old password">
    </div>
    <br />
    <br />
    <div class="form-group">
        <input type="password" name="new_password1" id="id_new_password1" data-role="input" data-prepend="<span class='mif-key'>" placeholder="Enter new password">
    </div>
    <br />
    <br />
    <div class="form-group">
        <input type="password" name="new_password2" id="id_new_password2" data-role="input" data-prepend="<span class='mif-key'>" placeholder="Confirm new password">
    </div>
    <br />
    <div class="form-actions mt-10">
        <button type="submit" class="button">OK</button>
    </div>
</form>
{% endblock %}

{% block script_content %}
<script type="text/javascript">
$(window).on("load", function() {
    $("#tab_user_information").attr("class", "");
    $("#tab_billing_information").attr("class", "");
    $("#tab_price_policy").attr("class", "");
    $("#tab_admin").attr("class", "active");
});
</script>
{% endblock %}
