{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="{% static 'administration/css/metro-all.css' %}">

	    <style>
	    html,body {
	    	height: 100%;
	    	margin: 0;
	    	padding: 0;
	    }
	    .login-form {
            width: 500px;
            height: auto;
            top: 50%;
            margin-top: -160px;
        }
		#footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 3em;
			line-height: 3em;
			background-color: silver;
			text-align: center;
		}
	    </style>
	
	    <script>
	    </script>
	</head>
	<body class="h-vh-100 bg-brandColor1">
		<!-- 
		{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</p>
		{% endif %}

		{% if next %}
			{% if user.is_authenticated %}
			<p>Your account doesn't have access to this page. To proceed,
			please login with an account that has access.</p>
			{% else %}
			<p>Please login to see this page.</p>
			{% endif %}
		{% endif %}
		-->
        <form class="login-form bg-white p-6 mx-auto border bd-default win-shadow" method="post" action="{% url 'admin_login' %}">
            {% csrf_token %}
            <span class="mif-vpn-lock mif-4x place-right" style="margin-top: -10px;"></span>
            <h2 class="text-light">Keystone VoIP System Administration</h2>
            <hr class="thin mt-4 mb-4 bg-white">
            <div class="form-group">
                <input type="text" name="username" id="id_username" data-role="input" data-prepend="<span class='mif-user'>" placeholder="Enter id">
            </div>
            <div class="form-group">
                <input type="password" name="password" id="id_password" data-role="input" data-prepend="<span class='mif-key'>" placeholder="Enter password">
            </div>
            <div class="form-actions mt-10">
                <button class="button">Sign In</button>
            </div>
        </form>
	    <div id="footer">
			<p>Copyright © 2018 DpSecPhone Inc. All Rights Reserved.</p>
		</div>
		<script type="text/javascript" src="{% static 'administration/js/jquery-3.3.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'administration/js/metro.js' %}"></script>
        <!--<script src="https://cdn.metroui.org.ua/v4/js/metro.js"></script>-->
        <script>
        </script>
	</body>
</html>