{% extends "admin/base.html" %}

{% block body_content %}
<div class="row">
    <div class="cell-md-4">
        <input data-role="datepicker" id="datepicker_apply_date" data-value="2018-06-01">
    </div>
    <div class="cell-md-4">
        <input data-role="timepicker" id="timepicker_apply_time" data-value="00:00:00">
    </div>
</div>
&nbsp;Apply Date
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;Apply Time
<br>
<div class="row">
    &nbsp;&nbsp;&nbsp;
    <span>
        Call Price(Cost/Minute,$)
        <input type="number" id="input_call_price" data-role="input" min="0" step="0.01">
    </span>
    &nbsp;&nbsp;
    <span>
        Text Price(Cost/Test,$)
        <input type="number" id="input_text_price" data-role="input" min="0" step="0.01">
    </span>
    &nbsp;&nbsp;
    <button class="button dark outline" onclick="onClickApplyPricePolicy()">Apply Policy</button>
    <br>
</div>
<br>
<table class="table striped table-border mt-4"
    data-role="table"
    data-cls-table-top="row flex-nowrap"
    data-cls-search="cell-md-8"
    data-cls-rows-count="cell-md-4"
    data-rows="10"
    data-rows-steps="10, 20, 30, 40, 50, 60, 70, 80, 90, 100">
    <thead>
        <tr>
            <th class="sortable-column sort-desc">Apply Datetime</th>
            <th class="">Call Price(Cost/Minute,$)</th>
            <th class="">Text Price(Cost/Test,$)</th>
            <th class=""></th>
        </tr>
    </thead>
    <tbody>
        {% autoescape off %}
            {{ price_policy_history }}
        {% endautoescape %}
    </tbody>
    <tfoot>
        <tr>
            <th>Apply Datetime</th>
            <th>Call Price(Cost/Minute,$)</th>
            <th>Text Price(Cost/Test,$)</th>
            <th></th>
        </tr>
    </tfoot>
</table>
{% endblock %}

{% block script_content %}
<script type="text/javascript">
$(window).on("load", function() {
    $("#tab_user_information").attr("class", "");
    $("#tab_billing_information").attr("class", "");
    $("#tab_price_policy").attr("class", "active");
    $("#tab_admin").attr("class", "");
});

function onClickApplyPricePolicy() {
    var applyDate = $('#datepicker_apply_date').val();
    var applyTime = $('#timepicker_apply_time').val();
    var callPrice = $('#input_call_price').val();
    var textPrice = $('#input_text_price').val();
	$.ajax({
		type: 'POST',
		url: getRootUrl() + '/admin/price_policy/',
        crossDomain: true,
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            applyDate: applyDate,
            applyTime: applyTime,
            callPrice: callPrice,
            textPrice: textPrice,
        },
        timeout: AJAX_TIMEOUT_MILLISECONDS,
	}).done(function(data, textStatus, jqXHR) {
	    location.href = "/admin/price_policy";
	}).fail(function(jqXHR, textStatus, errorThrown) {
	});
}
</script>
{% endblock %}
