{% extends "admin/base.html" %}

{% block body_content %}
<table class="table striped table-border mt-4"
    data-role="table"
    data-cls-table-top="row flex-nowrap"
    data-cls-search="cell-md-8"
    data-cls-rows-count="cell-md-4"
    data-rows="10"
    data-rows-steps="10, 20, 30, 40, 50, 60, 70, 80, 90, 100">
    <thead>
        <tr>
            <th class="sortable-column sort-asc">Phone Number</th>
            <th class="sortable-column">IP Address</th>
            <th class="sortable-column">First Name</th>
            <th class="sortable-column">Last Name</th>
            <th class="sortable-column">eMail Address</th>
            <th class="sortable-column">Account Status</th>
            <th class=""></th>
            <th class=""></th>
        </tr>
    </thead>
    <tbody>
        {% autoescape off %}
            {{ user_information }}
        {% endautoescape %}
    </tbody>
    <tfoot>
        <tr>
            <th>Phone Number</th>
            <th>IP Address</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>eMail Address</th>
            <th>Account Status</th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>
{% endblock %}

{% block script_content %}
<script type="text/javascript">
$(window).on("load", function() {
    $("#tab_user_information").attr("class", "active");
    $("#tab_billing_information").attr("class", "");
    $("#tab_price_policy").attr("class", "");
    $("#tab_admin").attr("class", "");
});

function onClickChangeUserAccountStatus(userPhoneNumber) {
	$.ajax({
		type: 'POST',
		url: getRootUrl() + '/admin/user_information/',
        crossDomain: true,
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            userPhoneNumber: userPhoneNumber,
            userActiveStatus: ($('#user_account_status_' + userPhoneNumber).text() == 'ACTIVE' ? 'INACTIVE' : 'ACTIVE'),
        },
        dataType: 'json',
        timeout: AJAX_TIMEOUT_MILLISECONDS,
	}).done(function(data, textStatus, jqXHR) {
	    $('#user_account_status_' + userPhoneNumber).html(data.userActiveStatus);
	    $('#change_user_account_status_' + userPhoneNumber).html(data.userActiveStatus == 'ACTIVE' ? 'DISABLE' : 'ENABLE');
	}).fail(function(jqXHR, textStatus, errorThrown) {
	});
}

function onClickDeleteUserAccount(userPhoneNumber) {
    $.ajax({
		type: 'DELETE',
		url: getRootUrl() + '/admin/user_information/',
        <!--crossDomain: true,-->
        data: {
            <!--csrfmiddlewaretoken: '{{ csrf_token }}',-->
            userPhoneNumber: userPhoneNumber,
        },
        timeout: AJAX_TIMEOUT_MILLISECONDS,
	}).done(function(data, textStatus, jqXHR) {
	    location.href = "/admin/user_information";
	}).fail(function(jqXHR, textStatus, errorThrown) {
	});
}
</script>
{% endblock %}
